@media screen and (max-width: 1400px) {
    .container {
      width: 100%;
      padding: 0 20px;
    }
  }
  
  @media screen and (max-width: 1240px) {
    .slider {
      padding: 0;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .appartaments__wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    div.slider-dots {
      left: 0;
    }
    div.slider-arrow-right {
      right: 35%;
    }
    div.slider-arrow-left {
      left: 35%;
    }
  
    .appartaments__item-left,
    .appartaments__item-right {
      width: 80%;
      text-align: center;
      padding-top: 30px;
      margin: 0 auto;
    }
  
    .appartaments__title::after {
      display: none;
    }
  }
  
  @media screen and (max-width: 820px) {
    .row {
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 520px) {
    .text {
      width: 100%;
    }
  
    .appartaments {
      height: 100%;
      padding-bottom: 300px;
    }
  
    .appartaments__title {
      font-size: 22px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .container {
      padding: 0 10px;
    }
  }